.git
.gitignore
*.md
logs/
SteamCMD/
steamapps/
Bundles/
RustDedicated_Data/
MonoBleedingEdge/
D3D12/
HarmonyMods/
appcache/
userdata/
config/
carbon/logs/
carbon/data/
server/rst/*.log
server/rst/*.db
server/rst/*.sav
server/rst/*.dat
server/rst/command_history/
*.exe
*.dll
